@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #acafb5;
  --primary: #00101f;
  --primary-light: #081928;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #acafb5;
    --primary: #00101f;
  }
}

body {
  color: var(--foreground);
  background: var(--primary);
}

.my-custome-list-style {
  list-style-type: "\1405";
}
